<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web audio player - remote control</title>
    <link th:replace="fragments/materialize::css">
    <link th:replace="fragments/materialize::font">
    <style>
        body {
            font-family: monospace;
        }

        .frame {
            display: flex;
            flex-direction: column;
            height: 89vh;
            margin: 0 10px;
        }

        .scroll {
            flex: 0 1 100%;
            border: none;
            overflow-y: auto;
            overflow-style: marquee-line;
        }

        .frame li:hover {
            background-color: #e0f2f1;
        }
    </style>
</head>
<body>
<div th:replace="fragments/player::controls"></div>
<script type="module" th:if="${@viteService.createScriptUrl('@vite/client')} != null" th:src="${@viteService.createScriptUrl('@vite/client')}"></script>
<script type="module" th:src="${@viteService.createScriptUrl('controls/main.js')}"></script>
</body>
</html>
