<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web audio player</title>
    <link th:replace="fragments/materialize::css">
    <link th:replace="fragments/materialize::font">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s4 offset-s4">
            <div class="row">
                <div class="col s12 left-align" title="Тут наверное должно быть лого, но я тоже своего рода дизайнер">
                    <h3>Web</h3>
                    <h3 style="padding-left: 240px; margin-top: 0;">Player</h3>
                </div>
                <div class="col s12" style="margin-bottom: 1rem; margin-top: 5rem;">
                    <a th:href="@{/login}" class="btn btn-block blue btn-large">Войти</a>
                </div>
                <div class="col s12">
                    <a th:href="@{/player}" class="btn btn-block btn-flat btn-large">Открыть плеер</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/materialize::js"></div>
</body>
</html>