<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web audio player - Вход</title>
    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s4 offset-s4">
            <form th:action="@{/login}" method="post">
                <div class="row">
                    <div class="col s12 center-align">
                        <h3>Вход</h3>
                    </div>
                    <div th:if="${param.error}" class="col s12 center-align">
                        <p class="red-text">Ошибка</p>
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="username" id="username" autofocus tabindex="1" placeholder="Введите имя пользователя"/>
                                <label for="username">Имя пользователя</label>
                                <span class="helper-text">Позволит персонализировать плеер и создавать собственные плейлисты</span>
                            </div>
                        </div>
                        <input type="hidden" name="password" th:value="*{defaultPassword}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="btn" tabindex="2">Войти</button>
                        <a th:href="@{/register}" title="Создать пользователя" class="btn btn-flat">Создать</a>
                        <a th:href="@{/}" title="Открыть плеев" class="btn btn-flat right">Вернуться</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/materialize/js/materialize.min.js"></script>
</body>
</html>