<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web audio player - Регистрация</title>
    <link rel="stylesheet" href="/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s4 offset-s4">
            <form th:action="@{/register}" method="post">
                <div class="row">
                    <div class="col s12 center-align">
                        <h3>Новый пользователь</h3>
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" name="username" id="username" autofocus tabindex="1" placeholder="Введите имя пользователя"/>
                                <label for="username">Имя пользователя</label>
                                <span class="helper-text"></span>
                            </div>
                        </div>
<!--                        <input type="hidden" name="password"/>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button type="submit" class="btn" tabindex="2">Создать</button>
                        <a th:href="@{/login}" title="Войти" class="btn btn-flat">Войти</a>
                        <a th:href="@{/}" title="Назад" class="btn btn-flat right">Назад</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/materialize/js/materialize.min.js"></script>
</body>
</html>